.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding-top: 60px;
  text-align: center
}

.linkStyle {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.linkStyle:hover {
  background-color: teal;
  color: white;
}

.loader {
  padding-top: 70px;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}